* {
  margin: 0;
  padding: 0;
}

body {
  background:url("https://img.freepik.com/free-photo/gray-wall-textures-background_74190-4389.jpg?size=626&ext=jpg&ga=GA1.1.1272410472.1667385319&semt=ais");
  background-size: cover;
  background-repeat: no-repeat;

}

.pages {
  color: #ab6799;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}
